nav#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

nav a,
nav i {
    color: white;
}

nav .dropdown-menu li a {
    color: #333;
}

.navbar-nav li {
    margin-right: 10px;
}