<!-- ================== left panel ================= -->

<div class="left-panel">
    <div class="sidebar-inner">
        <div class="sidebar-logo text-left pl-3">
            <a href="index.html">
                <img class="big-logo" src="../assets/images/logo.png" alt="big-logo">
                <img class="small-logo" src="../assets/images/small-logo.png" alt="small-logo">
            </a>
        </div>

        <div class="side-bar-scroll">
            <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active">
                    <a href="javascript:void(0)" routerLink="/dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="list-group-item" routerLinkActive="active">
                    <a href="javascript:void(0)" routerLink="/product-table">
                        <i class="fa fa-cubes"></i>
                        <span>Product</span>
                    </a>
                </li>
                <li class="list-group-item" routerLinkActive="active">
                    <a href="javascript:void(0)">
                        <i class="fa fa-envelope"></i>
                        <span>Email</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>
</div>